@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap");
html {
  scroll-behavior: smooth;
  font-size: 15px;
}

.para {
  font-family: "Alata", sans-serif;
  color: hsl(0deg, 0%, 55%);
  font-size: 15px;
}

body {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
}

.custom-navbar {
  padding: 2rem 0;
  position: absolute;
  top: 0;
  background-color: transparent !important;
}
.custom-navbar .navbar-toggler {
  color: hsl(0deg, 0%, 100%);
  border-color: transparent;
}
.custom-navbar .navbar-toggler:active, .custom-navbar .navbar-toggler:focus {
  border: none;
  box-shadow: none;
  outline: none;
}
.custom-navbar .custom-navbar-nav .nav-item {
  margin-right: 3vw;
  padding: 0;
}
@media (min-width: 992px) {
  .custom-navbar .custom-navbar-nav .nav-item .nav-link {
    color: hsl(0deg, 0%, 100%);
    font-family: "Alata", sans-serif;
    position: relative;
    overflow: hidden;
  }
  .custom-navbar .custom-navbar-nav .nav-item .nav-link::after {
    display: block;
    content: "";
    height: 2px;
    background-color: hsl(0deg, 0%, 100%) !important;
    position: absolute;
    bottom: 0;
    width: 100%;
    transform: translateX(-115%);
  }
  .custom-navbar .custom-navbar-nav .nav-item .nav-link:hover::after {
    transition: transform 0.5s cubic-bezier(0.5, 0.7, 0.4, 1);
    transform: translateX(0);
  }
  .custom-navbar .custom-navbar-nav .nav-item .nav-link.animate-out::after {
    transition: transform 0.5s cubic-bezier(0.5, 0.7, 0.4, 1);
    transform: translateX(100%);
  }
}

.hero {
  height: 65vh;
  background-image: url("../images/desktop/image-hero.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 768px) {
  .hero {
    height: 80vh;
    background-image: url("../images/mobile/image-hero.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.feature {
  padding: 55px 10px;
}
@media (min-width: 768px) {
  .feature {
    padding: 155px 150px;
  }
}

@media (min-width: 992px) {
  .m-n1 {
    margin: 7rem 0 -7rem -7rem;
  }
  .fe-text {
    padding: 10rem 0 0 6rem;
  }
}
.btn-property {
  padding: 12px 64px;
  letter-spacing: 3px;
  font-weight: 300;
  border: 2px solid black;
  font-family: "Alata", sans-serif;
  text-transform: uppercase;
  background: transparent;
  color: hsl(0deg, 0%, 0%);
  font-size: 1rem;
  border-radius: 0;
  transition: all 0.55s ease-out;
  box-shadow: 3px 3px 3px -1px #000;
}

.btn-property:hover {
  border: 2px solid black;
  background-color: hsl(0deg, 0%, 0%);
  color: hsl(0deg, 0%, 100%);
  transform: scale(0.96);
  box-shadow: none;
}

.overlay {
  position: relative;
}

.overlay img {
  filter: blur(3px);
  transition: all 0.4s ease-out;
}

.overlay:hover img {
  filter: blur(0);
  transform-origin: center;
  transform: scale(0.98);
}

.overlay::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  content: "";
  opacity: 0.1;
  background-color: rgba(255, 255, 255, 0.7);
  transition: all 0.5s ease-in-out;
}

.overlay:hover::after {
  opacity: 0;
}

.store {
  padding-bottom: 100px;
}

.footer {
  padding: 100px;
  background-color: hsl(0deg, 0%, 55%);
  color: hsl(0deg, 0%, 100%);
}

.fa-times {
  display: none;
}

.active {
  display: block;
}

.display-nav {
  background-color: hsl(0deg, 0%, 0%) !important;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  align-items: center;
  justify-content: flex-start;
  gap: 3rem;
  text-transform: uppercase;
}
.display-nav .navbar-collapse {
  margin-top: 10rem;
  gap: 5rem;
}
.display-nav .navbar-collapse .nav-item .nav-link {
  color: white;
}